<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>业主管理</title>
    <link rel="stylesheet" href="/css/main.css" media="all">
    <script type="text/javascript" src="/lib/loading/okLoading.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="app">
    <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>业主管理</cite></a>
              <a><cite>{{title}}</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <el-form :model="person" :rules="rules" ref="personFormRef" label-width="120px" class="demo-ruleForm">
            <el-form-item label="业主ID" prop="id">
                <el-input v-model="person.id"></el-input>
            </el-form-item>
            <el-form-item label="业主姓名" prop="username">
                <el-input v-model="person.username"></el-input>
            </el-form-item>
            <el-form-item label="性别" prop="sex">
                <el-input v-model="person.sex"></el-input>
            </el-form-item>
            <el-form-item label="小区名称" prop="communityName">
                <el-input v-model="person.communityName"></el-input>
            </el-form-item>
            <el-form-item label="楼栋位置" prop="houseAddress">
                <el-input v-model="person.houseAddress"></el-input>
            </el-form-item>
            <el-form-item label="身份证号" prop="idcard">
                <el-input v-model="person.idcard"></el-input>
            </el-form-item>
            <el-form-item label="联系方式" prop="telephone">
                <el-input v-model="person.telephone"></el-input>
            </el-form-item>
            <el-form-item label="职业" prop="profession">
                <el-input v-model="person.profession"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="save()" style="text-align: center">保存</el-button>
                <el-button @click="clearAll()" style="text-align: center">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<script src="lib/layui/layui.js" charset="utf-8"></script>
<script src="js/x-layui.js" charset="utf-8"></script>
<script src="/js/vue.js" charset="utf-8"></script>
<script src="/js/index.js"></script>
<script src="/js/axios.js" charset="utf-8"></script>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            title: "添加业主",
            person: {id: ""},
            fileList: [],
            rules: {
                id: [
                    {required: true, message: '请输入业主ID', trigger: 'blur'},
                    {max: 50, message: '长度小于20个字符', trigger: 'blur'}
                ],
                username: [
                    {required: true, message: '请输入业主姓名', trigger: 'blur'}
                ],
                sex: [
                    {required: true, message: '请输入性别', trigger: 'blur'}
                ],
                communityName: [
                    {required: true, message: '请输入小区名称', trigger: 'blur'}
                ],
                houseAddress: [
                    {required: true, message: '请输入楼栋位置', trigger: 'blur'}
                ],
                idcrad: [
                    {required: true, message: '请输入身份证号', trigger: 'blur'}
                ],
                telephone: [
                    {required: true, message: '请输入联系方式', trigger: 'blur'}
                ],
                profession: [
                    {required: true, message: '请输入职业', trigger: 'blur'}
                ],
            }
        },
        methods: {
            findById() {
                axios.get("/person/findById?id=" + this.person.id).then((res) => {
                    this.person = res.data.data;
                    });
            },
            //文件删除提示
            beforeRemove(file) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },
            //表达重置
            clearAll() {
                this.$refs.personFormRef.resetFields();
            },
            getQueryString(name) {
                let reg = `(^|&)${name}=([^&]*)(&|$)`
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            save() {
                var method = "";
                if (this.person.id != null) {
                    method = "update"
                } else {
                    method = "add"
                }
                axios.post("/person/" + method, this.person).then((res) => {
                    if (res.data.flag) {
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                        setTimeout(function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }, 1000);
                    }
                });
            },
        },
        created: function () {
            layui.use(['element', 'layer', 'form'], function () {
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                okLoading.close($);
            });
            //获取父页面传递参数，业主ID
            this.person.id = this.getQueryString("id");
            //根据小区ID获取业主对象，进行数据回显
            if (this.person.id != null && this.person.id != '') {
                this.title = "修改业主信息";
                this.findById();
            }
        }
    });
</script>
</body>
</html>