<!DOCTYPE html>
<html lang="en">
<head>
	<title>小范智慧物业管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
	<link href="css/font-awesome.css" rel="stylesheet">  <!-- font-awesome icons -->
	<link rel="stylesheet" href="css/cdnav.css"> <!-- navigation style -->
	<link rel="stylesheet" href="css/swipebox.css">
	<script src="js/jquery-2.2.3.min.js"></script>
</head>
<body>
<!-- cd-vertical-nav -->
<div class="w3ls-nav">
	<nav class="cd-vertical-nav">
		<ul>
			<li><a href="#home" class="active"><span class="w3label">Welcome</span></a></li>
			<li><a href="#services"><span class="w3label">小区服务</span></a></li>
			<li><a href="#portfolio"><span class="w3label">小区风景</span></a></li>
			<li><a href="#about"><span class="w3label">关于小区</span></a></li>
			<li><a href="#contact"><span class="w3label">联系我们</span></a></li>
		</ul>
	</nav>
</div>
<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button>
<!-- cd-vertical-nav -->
<!-- banner -->
<div id="home" class="w3ls-banner cd-section">
	<div class="banner-info">
		<!-- header -->
		<div class="header-w3layouts">
			<div class="container">
				<div class="w3ls-logo">
					<a href="index.html">
						<h1>小范智慧物业管理系统业主端</h1>
						<h6 class="w3lw3ls-logo-text">WELCOME TO MY WORLD</h6>
					</a>
				</div>
				<div class="clearfix"> </div>
				<a href="javascript:;" style="left: 1350px; color:#fff;top: 60px;position: absolute;" class="logout">退出登录</a>
			</div>
		</div>
		<!-- //header -->
		<!-- banner-text -->
		<div class="banner-w3ltext">
			<div class="container">
				<h2 class="name">亲爱的用户</h2><br/><br/>
				<h2>欢迎回家!!!</h2>
			</div>
		</div>
		<!-- //banner-text -->
		<!-- banner-address -->
		<div class="bnrwthree-address">
			<ul>
				<li><i class="fa fa-map-marker" aria-hidden="true"></i>prestu市，幸福街道，520号</li>
				<li><i class="fa fa-phone" aria-hidden="true"> </i>  +86 168 8888 8888</li>
				<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com"> prestu@163.com</a></li>
			</ul>
		</div>
		<!-- //banner-address -->
	</div>
</div>
<!-- //banner -->


<!-- services -->
<div id="services" class="services cd-section">
	<div class="container">
		<div class="agileits-hdng">
			<h3 class="w3stitle"><span>小区服务</span></h3>
		</div>
		<div class="services-w3ls-row">
			<div class="col-md-4 col-sm-4 col-xs-6 services-grid agileits-w3layouts">
				<span class="glyphicon glyphicon-bed effect-1" aria-hidden="true"></span>
				<h5 ><a href="../front/parking.html">停车位</a></h5>
				<p>可以快捷查询停车位使用情况，是否有空位，以及车位是否出租或售卖。</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6 services-grid agileits-w3layouts">
				<span class="glyphicon glyphicon-hand-down effect-1" aria-hidden="true"></span>
				<h5>投诉</h5>
				<p>业主对小区有什么不满意或其他意见，可以在这里进行投诉。</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6 services-grid agileits-w3layouts">
				<span class="glyphicon glyphicon-shopping-cart effect-1" aria-hidden="true"></span>
				<h5>采购</h5>
				<p>这里可以查看小区内公共设备的采购信息，以及可以申请设备的购买。</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6 services-grid bottom-grids">
				<span class="glyphicon glyphicon-wrench effect-1" aria-hidden="true"></span>
				<h5>报修</h5>
				<p>这里展示的是小区里所有报修信息，如果业主有问题也可以进行报修的提交。</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6 services-grid bottom-grids">
				<span class="glyphicon glyphicon-fire effect-1" aria-hidden="true"></span>
				<h5>活动</h5>
				<p>这里展示的是小区中举行的各种活动，比如举办歌唱大赛，篮球比赛，甚至业主结婚信息等，也可以在这进行公示。</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6 services-grid bottom-grids">
				<span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
				<h5>个人信息</h5>
				<p>这里展示的是业主的个人信息。</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //services -->
<!-- portfolio -->
<div id="portfolio" class="portfolio cd-section">
	<div class="container">
		<div class="agileits-hdng">
			<h3 class="w3stitle"><span>小区风景</span></h3>
		</div>
		<div class="gallery_gds">
			<ul class="simplefilter">
				<li class="active" data-filter="all">All</li>
				<li data-filter="1">小区1期</li>
				<li data-filter="2">小区2期</li>
				<li data-filter="3">小区3期</li>
			</ul>
			<div class="filtr-container">
				<div class="col-md-4 filtr-item" data-category="3" data-sort="Busy streets">
					<div class="hover w3-agileehover14">
						<a href="images/g1.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
							<img src="images/g1.jpg" alt="" class="img-responsive" />
							<div class="agileits-overlay">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 filtr-item" data-category="2" data-sort="Luminous night">
					<div class="hover w3-agileehover14">
						<a href="images/g2.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
							<img src="images/g2.jpg" alt="" class="img-responsive" />
							<div class="agileits-overlay">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 filtr-item" data-category="1" data-sort="City wonders">
					<div class="hover w3-agileehover14">
						<a href="images/g3.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
							<img src="images/g3.jpg" alt="" class="img-responsive" />
							<div class="agileits-overlay">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 filtr-item" data-category="1" data-sort="Industrial site">
					<div class="hover w3-agileehover14">
						<a href="images/g4.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
							<img src="images/g4.jpg" alt="" class="img-responsive" />
							<div class="agileits-overlay">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 filtr-item" data-category="2" data-sort="In production">
					<div class="hover w3-agileehover14">
						<a href="images/g5.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
							<img src="images/g5.jpg" alt="" class="img-responsive" />
							<div class="agileits-overlay">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 filtr-item" data-category="3" data-sort="Peaceful lake">
					<div class="hover w3-agileehover14">
						<a href="images/g6.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
							<img src="images/g6.jpg" alt="" class="img-responsive" />
							<div class="agileits-overlay">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 filtr-item" data-category="1" data-sort="Peaceful lake">
					<div class="hover w3-agileehover14">
						<a href="images/g6.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
							<img src="images/g6.jpg" alt="" class="img-responsive" />
							<div class="agileits-overlay">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 filtr-item" data-category="2" data-sort="Peaceful lake">
					<div class="hover w3-agileehover14">
						<a href="images/g6.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
							<img src="images/g6.jpg" alt="" class="img-responsive" />
							<div class="agileits-overlay">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 filtr-item" data-category="3" data-sort="Peaceful lake">
					<div class="hover w3-agileehover14">
						<a href="images/g6.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
							<img src="images/g6.jpg" alt="" class="img-responsive" />
							<div class="agileits-overlay">
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //portfolio -->

<!-- about -->
<div id="about" class="about cd-section">
	<div class="container">
		<div class="col-md-6 about-w3lleft">
			<h3 class="w3stitle"><span>关于小区</span></h3>
			<p style="text-indent: 2em;">小区在物业管理上充分与城市生活接轨，是我们集团公司自己的物业，没有外聘，物业引进现代城市社区管理理念，方寸间，尽显高贵品质。让居住在小区里的居民享受到高端的物业管理和服务，统一的保安巡逻、卫生清洁、车辆管理、绿化养护和完善的家政服务等，小区设置安防系统，包括周边防逾越系统，24小时监控系统，单元可视门禁系统，在保障安全的同时使居住不受外部嘈杂环境影响，拥有更好的居住环境，贴心的物管服务为您带来更高的居住品质。
				总而言之，我们小区以低容积率、高绿地率，人性化设计的开发理念、最合理的园林组团，打造最人性化的居住样板，树立城市人居又一新标杆！</p>
			<a href="#myModal" class="wthree-btn" data-toggle="modal">Read more <span></span></a>
		</div>
		<div class="col-md-6 about-w3lright">
			<img src="images/img1.jpg" class="img-responsive" alt=" ">
			<img src="images/img2.jpg" class="img-responsive about-w3lright-img2" alt=" ">
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //about -->

<!-- features -->
<div class="features">
	<div class="container">
		<div class="features-agileinfo">
			<div class="col-md-4 col-sm-4 features-wthree-grids">
				<h4>最美房产</h4>
				<p style="text-indent: 2em;">我们注重建筑、景观、服务带来的高品质居住体验。我们要建造最温暖的房子，让每个选择我们的业主真正的感受到，您购买的绝不只是遮风挡雨的建筑，而是有温度的家，也让您明白，有些房子是可以住一辈子的，项目从产品研发到建筑施工，再到物业及康养服务，秉承着研发美、制造美、内涵美，志在打造城市最美房产。</p>
				<h5 class="w3ls-featext">1</h5>
			</div>
			<div class="col-md-4 col-sm-4 features-wthree-grids">
				<h4>最佳投资逻辑</h4>
				<p style="text-indent: 2em;">所有选择我们的客户，都是出于对我们的信任，我们的核心是保证产品保值增值，真正的让客户相信花同样的钱，可以买到高性价比、高价值比的产品和服务，确保产品的保值增值。该项目是物业倾力打造，是集团公司开发的高端产品，拥有极其严苛的选址要求，地标旁，墅质生活学区房；同时该小区承载着布局重点城市的战略意图，推崇为每座城市打造标杆产品。</p>
				<h5 class="w3ls-featext">2</h5>
			</div>
			<div class="col-md-4 col-sm-4 features-wthree-grids">
				<h4>最美新生活模式</h4>
				<p style="text-indent: 2em;">「无忧娱、贴心侍、全龄康、温情乐」，让业主多一小时便捷、择址伊始，充分考量业主在教育、医疗、交通等方面的需求，聚焦生活本真，融便捷、舒适、温情与一体。多一小时舒心、我们洞察到当代家庭对高品质生活的需求，推行和睦家大康养物业服务体系，用感恩、精细、惊喜的服务态度，以业主需求感受为出发点与最终着力点，升级幸福生活，礼遇美好人生。多一小时陪伴、我们认为健康是生活的基础，在社区生活中，享受专业康养服务，提高自身身体素质，提升生命健康质量，延伸生命价值周期，拥抱美好健康生活。</p>
				<h5 class="w3ls-featext">3</h5>
			</div>
			<div class="clerfix"> </div>
		</div>
	</div>
</div>
<!-- //features -->
<!-- contact -->
<div id="contact" class="contact cd-section">
	<div class="container">
		<div class="agileits-hdng">
			<h3 class="w3stitle"><span>联系我们</span></h3>
		</div>
		<div class="contact-row agileits-w3layouts" style="background: url(images/1.jpg)";>
			<div class="col-md-6 col-sm-6 contact-w3lsright" style="background: url(images/1.jpg);">
				<h6>如果您对我们的小区感兴趣，请随时联系我们！</h6>
				<div class="address-row">
					<div class="col-xs-2 address-left">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 address-right">
						<h5 style="color: white;">欢迎来访！</h5>
						<p>prestu市, 幸福街道，520号 </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="address-row w3-agileits">
					<div class="col-xs-2 address-left">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 address-right">
						<h5 style="color: white;">Mail Us</h5>
						<p><a href="mailto:info@example.com"> prestu@163.com</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="address-row">
					<div class="col-xs-2 address-left">
						<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 address-right">
						<h5 style="color: white;">联系电话</h5>
						<p>+86 168 8888 8888</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

<div class="copyw3-agile">
	<div class="container">
		<p>Copyright &copy; 2021.小范智慧物业管理系统 All rights reserved.</p>
	</div>
</div>


<script src="js/jquery.swipebox.min.js"></script>
<script src="js/jquery.filterizr.js"></script>
<script src="js/controls.js"></script>
<script src="js/main.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/bootstrap.js"></script>
<!-- //copy right end here -->
<script type="text/javascript">
	$(function(){
		let user = JSON.parse(window.localStorage.getItem("user"))
		if(user){
			$('.name').text("亲爱的"+user.username)
		}
	})
</script>
<script type="text/javascript">
	$(function(){
		$('.logout').on("click",function(){
			console.log("hello");
			window.localStorage.clear()
			window.location.href="./login.html"
		})
	})
</script>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<script type="text/javascript">
	$(function() {
		$('.filtr-container').filterizr();
	});
</script>

<script type="text/javascript">
	jQuery(function($) {
		$(".swipebox").swipebox();
	});
</script>
<script>
	$(function() {
		$('.wthree-btn')
				.on('mouseenter', function(e) {
					var parentOffset = $(this).offset(),
							relX = e.pageX - parentOffset.left,
							relY = e.pageY - parentOffset.top;
					$(this).find('span').css({top:relY, left:relX})
				})
				.on('mouseout', function(e) {
					var parentOffset = $(this).offset(),
							relX = e.pageX - parentOffset.left,
							relY = e.pageY - parentOffset.top;
					$(this).find('span').css({top:relY, left:relX})
				});
		$('[href=#]').click(function(){return false});
	});
</script>
</body>
</html>